body {
  text-align: center;
  display: block;
  width: 100%;
}

table {
  text-align: center;
  table-layout: fixed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.left-align{
  text-align: left;
  word-wrap: break-word;
  width: 30%;
}

th, td {
  padding: 5px
}