<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fraud Detection</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>

	<body>
    <h1 class="title">Fraud Detection</h1>
        <div>
            <table>
                <thead>
                    <th>Event Name</th>
                    <th>Payout Date</th>
                    <th>Probability</th>
                    <th>Prediction</th>
                </thead>
                <tbody>
                    {% for high in high_risk %}
                        <tr>
                            <td class="left-align">{{high[0]}}</td>
                            <td>{{high[1]}}</td>
                            <td>{{high[2]}}</td>
                            <td>{{high[3]}}</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


	</body>
</html>
