<!DOCTYPE html>
<html lang="en">
	<head>
		<title>News Category Predictor</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>

	<body>
    <h1 class="title">Fraud Detection</h1>
        <div>
            <h3>High Risk</h3>
            <p>{{ high_risk_data }}</p>
        </div>
        <div>
            <h3>Medium Risk</h3>
            <p>{{ med_risk_data }}</p>
        </div>
        <div>
            <h3>Low Risk</h3>
            <p>{{ low_risk_data }}</p>
        </div>

	</body>
</html>
